
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        SEED - {% block title %}{% endblock %} | AppSeed
    </title> 
    <!-- load static files -->
    {% load static %}
   
    
     <!-- plugins:css -->
    <link rel="stylesheet" href="{%static 'vendors/feather/feather.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css'%}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css'%}">
    <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'js/select.dataTables.min.css'%}">
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css'%}">
    <!-- endinject -->

    <link rel="shortcut icon" href="{%static 'images/logo-mini.svg'%}">    
    <!--- Custom datatables -->
    <link rel="stylesheet" type="text/css" href="{%static 'DataTables/datatables.min.css'%}"/>

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}    

</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            {% include 'includes/_navbar.html' %}
            
                
            
            {% if  user.is_docente and  user.is_estudiante%} 
                {% include 'includes/_sidebar.html' %}
                {% else%}
                    {% if user.is_estudiante%}
                        {% include 'includes/_sidebarEstudiante.html' %}
                        {% else %}
                            {% if user.is_docente%}
                                {% include 'includes/_sidebar.html' %}
                        {% endif %}
                    {% endif %}                
            {% endif %}

            {% block content %}{% endblock content %}
            {% include 'includes/_settings-panel.html' %}
        </div>        
    </div>
    {% include 'includes/_footer.html' %}
    
    <!-- Specific Page JS goes HERE  -->
    <!-- plugins:js -->
    <script src="{%static 'vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{%static 'vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net/jquery.dataTables.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
    <script src="{%static 'js/dataTables.select.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{%static 'js/off-canvas.js'%}"></script>
    <script src="{%static 'js/hoverable-collapse.js'%}"></script>
    <script src="{%static 'js/template.js'%}"></script>
    <script src="{%static 'js/settings.js'%}"></script>
    <script src="{%static 'js/todolist.js'%}"></script>
    <script type="text/javascript" src="{%static 'DataTables/datatables.min.js'%}"></script>
    <script type="text/javascript">
    $(document).ready( function () {
    $('#DataTable').DataTable();
    } );
    </script>
    <script type="text/javascript">
        $(document).ready( function () {

            const currentLocation = location.href;
            const menuItems = document.querySelectorAll('#menuItem');
            const menuLength = menuItems.length;            
            for (let i=0; i<menuLength; i++){
                
                if (menuItems[i].firstElementChild.href === currentLocation){                    
                    menuItems[i].classList.add('active');
                }
                else{
                    menuItems[i].classList.remove('active');
                }
            }
            
        } );        
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- endinject -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>