{% extends "layouts/base-fullscreen.html" %}
{% load static%}
{% block title %} Tema Detalle {% endblock %}
{% load static%}
{% block content %} 



<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <!--espacio para las actividades-->
            <div class="col-md-7 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Temas</h4>
                        <!--Actividades-->
                            <h1>Hello, Tema Detalle!</h1>
                            <h3>codigo_tema: {{tema.codigo_tema}}</h3>   
                            <h3>nombre_tema: {{tema.nombre_tema}}</h3>   
                            <h3>grupo_tema: {{tema.grupo_tema}}</h3>    
                        <!--fin actividades-->
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <!--Actividades-->
                            <h1 class="mb-4">Actividades - {{tema.nombre_tema}} </h1> 
                            <ul>
                                {% for a in actividades%}
                                    <h3 class="ml-3 mt-2 mb-3"> <a href="{% url 'seed2:detailActividad' a.codigo %}"> {{a}} </a> </h3>
                                {% endfor %}
                                </ul>
                        <!--fin actividades-->
                    </div>
                </div>
            </div>
            <!--fin espacio para las actividades-->

            <!--espacio para actividades grupos-->
            <div class="col-md-5 grid-margin">
                <!--crear las actividades -->
                <div class="row">
                    <div class="card w-100 mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Actualizar Tema</h4>
                            <form class="forms-sample" method="POST">
                                {% csrf_token %} 
                                <div class="form-group">
                                    <label for="codigo_tema">Codigo</label>
                                    <input type="number" class="form-control" id="codigo_tema" name ="codigo_tema" placeholder="Codigo tema"  value="{{tema.codigo_tema}}" readonly/>
                                </div>
                                <div class="form-group">
                                    <label for="nombre_tema">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_tema" name ="nombre_tema" placeholder="Nombre Grupo" value="{{tema.nombre_tema}}"  />
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">Grupo</label>
                                    {{form.grupo_tema}}
                                </div>
                                <button type="submit" class="btn btn-block btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--fin crear las actividades -->
                <!--actividades pendientes-->
                <div class="row">
                    <div class="card w-100 p-3">
                        <div class="card-body">
                            <div class="row mb-3">
                                <h2 class="card-title col-6">Actividades sin publicar</h2>
                            </div>

                            <ul class="">
                                <li><a href="">{% lorem 1 b random %}</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--fin actividades pendientes-->
            </div>
            <!--fin espacio para actividades grupos-->
        </div>
        
    </div>
    <!-- content-wrapper ends -->
</div>



  {% endblock content %}
  
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Plugin js for this page -->
    <script src="{%static 'vendors/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net/jquery.dataTables.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
    <script src="{%static 'js/dataTables.select.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{%static 'js/dashboard.js'%}"></script>
    <script src="{%static 'js/Chart.roundedBarCharts.js'%}"></script>
    <!-- End custom js for this page-->
{% endblock javascripts %} 