{% extends "layouts/base-fullscreen.html" %}
{%load static%}
{% block title %} Temas {% endblock %}
{%load static%}
{% block content %} 



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Bienvenido</h3>
                        <h6 class="font-weight-normal mb-0">Temas</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--espacio para las actividades-->
            <div class="col-md-7 grid-margin">
                <h4 class="card-title">Temas</h4>                
                <div class="card p-3">
                    {% for t in temas%}
                    <div class="card card-tale mb-3">
                        <div class="card-body ">                        
                        <!--Actividades-->                        
                            <div class="row ">
                                <div class="col">
                                    <h2 class="pl-3">
                                        <a href="{% url 'seed2:updateTema' t.codigo_tema %}" style="text-decoration: none !important; color: white"> 
                                            {{t.nombre_tema}} 
                                        </a>
                                    </h2>  
                                </div>
                                <div class="col d-flex justify-content-end align-items-start">                                            
                                    <button type="button" class="ml-3 btn btn-primary btn-rounded btn-icon" onclick="warningDeleteTema(nombre='{{t.nombre_tema}}',pk='{{t.codigo_tema}}')">
                                        <i class="ti-trash"></i>
                                    </button>
                                </div>
                            </div>                        
                        <!--fin actividades-->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--fin espacio para las actividades-->

            <!--espacio para actividades grupos-->
            <div class="col-md-5 grid-margin">
                <!--crear las actividades -->
                <div class="row">
                    <div class="card w-100 mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Crear Temas</h4>
                            <form class="forms-sample" method="POST">
                                {% csrf_token %} 
                                <div class="form-group">
                                    <label for="codigo_tema">Codigo</label>
                                    <input type="number" class="form-control" id="codigo_tema" name ="codigo_tema" placeholder="Codigo tema" />
                                </div>
                                <div class="form-group">
                                    <label for="nombre_tema">Nombre</label>
                                    <input type="text" class="form-control" id="nombre_tema" name ="nombre_tema" placeholder="Nombre Grupo" />
                                </div>
                                <div class="form-group">
                                <label for="exampleFormControlSelect1">Grupo</label>
                                    {% if codigo_tema == None %}
                                        {{form.grupo_tema}}
                                    {% else %}
                                        <input type="text" class="form-control"  id="grupo_tema" name ="grupo_tema" value ="{{codigo_tema}}"readonly>
                                    {% endif %}                                  
                                    

                                </div>
                                <button type="submit" class="btn btn-block btn-primary mr-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--fin crear las actividades -->
                <!--actividades pendientes-->
                <div class="row">
                    <div class="card w-100 p-3">
                        <div class="card-body">
                            <div class="row mb-3">
                                <h2 class="card-title col-6">Actividades sin publicar</h2>
                            </div>

                            <ul class="">
                              <li><a href="">{% lorem 1 b random %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--fin actividades pendientes-->
            </div>
            <!--fin espacio para actividades grupos-->
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>



  {% endblock content %}
  
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Plugin js for this page -->
  <script src="{%static 'vendors/chart.js/Chart.min.js'%}"></script>
  <script src="{%static 'vendors/datatables.net/jquery.dataTables.js'%}"></script>
  <script src="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js'%}"></script>
  <script src="{%static 'js/dataTables.select.min.js'%}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{%static 'js/dashboard.js'%}"></script>
  <script src="{%static 'js/Chart.roundedBarCharts.js'%}"></script>
  <script src="{%static 'js/sweetAlert.js'%}"></script>
  <!-- End custom js for this page-->
{% endblock javascripts %} 