<!DOCTYPE html>
{% load socialaccount %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1> Form create docente </h1>
        <div >
            <p>You're Teacher? Join us!</p>
            <form method="POST">
                {% csrf_token %}    
                <input type="hidden" name="user" value="{{user.id}}">

                <button type="submit">Submit</button>
                   
            </form>
        </div>
    </body>
</html>

