{% extends "layouts/base-fullscreen.html" %}
{% load static%}
{% block title %} Dashboard {% endblock %}
{% load static%}
{% block stylesheets %}

{%endblock%} 
{% block content %} 
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Bienvenido</h3>
                            <h4 class="font-weight-normal mb-3">Calificar Actividad - {{entregaActividad.activity}}</h4>
                            <div class="card w-100 mb-3">
                                <div class="card-body">
                                    <h4 class="card-title">{{entregaActividad.estudiante}}</h4>                   
                                    <div class="form-group">
                                        <label for="exampleInputName1">Descarcar Entrega</label> <br>
                                        <a href="{{entregaActividad.entregaFile.url}}" class="btn btn-primary"download>Descargar</a>
                                        
                                    </div>  
                                    <form class="forms-sample" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name='activity' value="{{entregaActividad.activity.codigo}}">
                                        <input type="hidden" name='estudiante' value="{{entregaActividad.estudiante.user.id}}">
                                        <input type="hidden" name='estado' value="C">
                                        <div class="form-group">
                                            <label for="exampleInputName1">Comentarios de retroalimentacion</label> <br>
                                            <input type="text" class="form-control" name="comentario" value="{{entregaActividad.comentario}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName1">Calificacion</label>
                                            <input type="number" class="form-control" name="nota" min='0' max='5' value="{{entregaActividad.nota}}" step="any">
                                        </div>  
                                        <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                                    </form>
                                </div>  
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <!--espacio para los grupos-->
                <div class="col-md-12 grid-margin stretch-card">    
                </div>
            </div>
        </div>
    <!-- content-wrapper ends -->
    </div>
    
    
{% endblock %}
{% block javascripts %}
<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{%static 'js/sweetAlert.js'%}"></script>
    <!-- Scripts personalizados-->
{% endblock javascripts %}
